@charset "utf-8";

textarea {
  display: block;
  outline: 0;
}

button {
  float: right;
  margin: 7px 0;
}

button:not(:last-child) {
  margin-right: 2px;
}

output {
  display: block;
  margin: 10px 0;
}
